<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<script src="../js/api.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/template-web.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/mui.picker.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<script src="../js/mui.picker.min.js"></script>
		<style type="text/css">
			.mui-content {
				margin-top: 2px;
			}
			.mui-content input{
				text-align:left
			}

			/*标题中图标居右侧的css样式*/
			.title-right {
				float: right;
				line-height: 44px !important;
				position: absolute;
				display: block;
				width: 100%;
				margin: 0 0px !important;
				padding: 0 !important;
				text-align: center;
				white-space: nowrap;
				color: #000;
				display: inline-block;
				overflow: hidden;
				width: auto;
				margin: 0;
				text-overflow: ellipsis;
				--color: #de1312;
			}

			.mui-badge1 {
				padding: 0px;
				width: 65%;
				float: right;
				line-height: 42px;
				font-size: 14px;
			}

			.mui-popup-title {
				color: red;
			}
			
			.font-seal {
				font-size: 10px;z-index: 2;position: absolute;right:14px;top: 15px;    border: 1px solid #F73A3C;
				transform: rotate(25deg);width: 43px;line-height: 20px;text-align: center;color: #F73A3C;font-weight: bold;
			}
			
			/** 自定义文字*/
			.mui-switch {
				width: 120px;
			}
			
			.mui-switch.mui-active .mui-switch-handle {
				transform: translate(88px, 0px);
			}
			
			.mui-switch:before {
				content: '不合格';
				color: #999;
			}
			
			.mui-switch.mui-active:before {
				content: '合格';
				color: #fff;
			}
			.ulcss {
				padding: 5px 5px;
			}
			
			.ulcss a {
				border: solid 1px #FFFFF;
				background-color: #E6E6FA;
				--border-radius: 30px;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
			}
			.acss a{
				text-align: center;
				color: #fff;
				text-decoration: none;
				--background-color: rgb(255, 145, 0);
				border-radius: 5px;
			}
			.close {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 99;
				color: red;
			}
			.noodles{
			    display: inline-block;
			    padding: 0.125rem;
			    border:1px rgb(255, 145, 0) dashed;
			    margin: 0.3125rem;
			}
			.ncheck{
				background:#FFA54F;
			}
		</style>
	</head>
	<body class="mui-fullscreen">
		<header class="mui-bar mui-bar-nav">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">IQC定期检验</h1>
			<span class="title-right mui-icon mui-icon-camera" style="color:#0062CC" id="cameraId"></span>
		</header>
		<div class="mui-content">
			<div class="mui-input-group">
				<div class="mui-input-row">
					<!-- <label onclick="clicked('commom/saomiao.html','saomiao',true);"> -->
					<label onclick="clicked('commom/saomiao.html','saomiao',true);"><span class="mui-icon iconfont icon-saomiao" id="num1"></span>扫描</label>
					<input type="search" style="text-align:left "  class="mui-input-clear" placeholder="请输入批次号" class="mui-navigate-right" id="selectId">
				</div>
				
				<div class="mui-input-row">
					<label ><span class="mui-icon iconfont icon-jianyanxiangmu" style="color:#FF8C00"></span>检验项目</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="projectId" >
								<option value="">请点击选择检验项目</option>
								<!-- <option value="1">津</option> -->
							</select>
						</span>
					</a>
				</div>
				<!--20191218-fyx -->
				<div class="mui-input-row">
					<label ><span class="mui-icon iconfont icon-wuliao" style="color: #FF8C00;"></span>物料名称</label>
					<input id="pname" type="text" disabled="disabled" style="background-color: #F5F5F5;"   class="mui-input-clear" >
				</div>
				<div class="mui-input-row">
						<label ><span class="mui-icon iconfont icon-xiaxiankongzhi" style="color: #FF8C00;"></span>下限</label>
					<input id="plower" type="text" disabled="disabled" style="background-color: #F5F5F5;"  class="mui-input-clear" >
				</div>
				<div class="mui-input-row">
						<label ><span class="mui-icon iconfont icon-shangxiankongzhi" style="color: #FF8C00;"></span>上限</label>
					<input id="pupper" type="text" disabled="disabled" style="background-color: #F5F5F5;"  class="mui-input-clear" >
				</div>
				<div class="mui-input-row">
						<label ><span class="mui-icon iconfont icon-guige" style="color: #FF8C00;"></span>规格型号</label>
					<input id="ptype" type="text" disabled="disabled" style="background-color: #F5F5F5;"  class="mui-input-clear" >
				</div>
				<div class="mui-input-row">
					<label ><span class="mui-icon iconfont icon-xilie" style="color: #FF8C00;"></span>系列</label>
					<input id="pxilie" type="text" disabled="disabled" style="background-color: #F5F5F5;"  class="mui-input-clear" >
				</div>
				<div class="mui-input-row">
					<label ><span class="mui-icon iconfont icon-xiangqing" style="color: #FF8C00;"></span>客户编号</label>
					<input id="cuo" type="text" disabled="disabled" style="background-color: #F5F5F5;"  class="mui-input-clear" >
				</div>
				<!--20191212-fyx-实际批次-->
				<div class="mui-input-row">
					<label ><span class="mui-icon iconfont icon-saomiao" id="num2"></span>实际批次号</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="realSelectId" >
								<option value="">请点击选择实际批次号</option>
							</select>
						</span>
					</a>
				</div>
				<div class="mui-input-row">
					 <ul class="mui-table-view" id="submitBtn">
						<li class="mui-table-view-cell acss" style="width:50%;float: left;background-color: rgb(153,204,153)">
							<a data-code='1'>提交</a>
						</li>
						<li class="mui-table-view-cell acss"  style="width:50%;background-color: rgb(255,153,102)">
							<a data-code='2'>撤销提交</a>
						</li>
						
					</ul> 
				</div>
				<div class="mui-input-row">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell acss" id="delBtn" style="width:100%;background-color: rgb(255, 145, 0);">
							<a data-code='3'>删除</a>
						</li>
					</ul>
				</div>
				<ul class="mui-table-view"> 
					<li class="mui-table-view-cell mui-collapse mui-active">
						<a class="mui-navigate-right" href="#"><span class="mui-icon iconfont icon-picihao" style="color:#00FF00"></span>检验信息</a>
						<div class="mui-collapse-content" id="collapseId">
							
						</div>
					</li>
				</ul>
				<ul class="mui-table-view mui-grid-view mui-grid-9" style="margin-top: 20px;" id="list">
				</ul>
				
			</div>
			<script id='record-template' type="text/template">
				<option value="">请点击选择批次号</option>
			<% for(var i in record){ var item=record[i]; %>
			   <option value='<%=(item)%>'><%=(item)%></option>
			<% } %>
		</script>
		<script id='project-template' type="text/template">
				<option value="">请点击选择检验项目</option>
			<% for(var i in record){ var item=record[i]; %>
			   <option value='<%=(item)%>'><%=(item)%></option>
			<% } %>
		</script>
			<script id='form-template' type="text/template">
				<% for(var i in record){ var item=record[i];va = item.result ; %>
				<form class="mui-input-group" id="formId" >
				<input type="hidden" id="pi_id" class="mui-input-clear" value="<%=item.id%>" >
				<!--20191223-fyx-->
				<div class="mui-input-row">
					<label ><span class="mui-icon iconfont icon-xiangqing" style="color: #5CACEE;"></span>备注信息</label>
					<input id="premark" type="text" value="<%=item.fnote%>"  class="mui-input-clear" >
				</div>
				<!--20200331-fyx-->
				<div class="mui-input-row">
					<label ><span class="mui-icon iconfont icon-xiangqing" style="color: #5CACEE;"></span>检测单位</label>
					<input id="punit" type="text" value="<%=item.fcheck_unit%>"  class="mui-input-clear" >
				</div>
				<!--end-->
				<div class="mui-input-row" id="resultDiv">
				    <label><span class="mui-icon iconfont icon-eps-jianyanjieguo" style="color:#5CACEE"></span>检验结果:</label>
				    <%if(item.result=='合格'){%>
				    <span class="noodles ncheck" data-id='<%=item.id%>' data-code='合格' style="width: 18%;float: left;">合格</span>
				    <%}else{%>
				     <span class="noodles" data-id='<%=item.id%>' data-code='合格' style="width: 18%;float: left;">合格</span>
				    <%}%>
					<%if(item.result=='不合格'){%>
					<span class="noodles ncheck" data-id='<%=item.id%>' data-code='不合格' style="width: 18%;float: left;">不合格</span>
					<%}else{%>
					 <span class="noodles" data-id='<%=item.id%>' data-code='不合格' style="width: 18%;float: left;">不合格</span>
					<%}%>
				</div>
				<div class="mui-input-row" id="dealDiv">
					<label ><span class="mui-icon iconfont icon-jieguo" style="color: #5CACEE;"></span>最终结果</label>
					<%if(item.ffinal_result=='合格'){%>
					<span class="noodles ncheck" data-code='合格' style="width: 18%;float: left;">合格</span>
					<%}else{%>
					  <span class="noodles" data-code='合格' style="width: 18%;float: left;">合格</span>
					<%}%>
					<%if(item.ffinal_result=='特采'){%>
					<span class="noodles ncheck" data-code='特采' style="width: 18%;float: left;">特采</span>
					<%}else{%>
					  <span class="noodles" data-code='特采' style="width: 18%;float: left;">特采</span>
					<%}%>
					<%if(item.ffinal_result=='退货'){%>
					<span class="noodles ncheck" data-code='退货' style="width: 18%;float: left;">退货</span>
					<%}else{%>
					  <span class="noodles" data-code='退货' style="width: 18%;float: left;">退货</span>
					<%}%>
				</div>
				<div class="mui-input-row" id='date'>
				    <label><span class="mui-icon iconfont icon-xiangqing" style="color:#228B22"></span>检验值:</label>
					<input type="search" class="mui-input-clear" placeholder="请输入检验值" id="values" style="width: 45%;float: left;">
					<button type="button" id="sureBtn"  class="mui-btn mui-btn-green mui-icon  mui-icon-mui-icon mui-icon-checkmarkempty">确认</button>
				</div>
				</form>
				
			<% } %>
		</script>
		<script id='ui-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
						<li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3 ">
							<a href="#" style="height: 4.375rem;">
								<div class="close" id="<%=item.ID%>">
								<span class="mui-icon iconfont icon-guanbi1" style="color:#d81e06;font-size:1rem;"></span></div>
								<div class="mui-media-body"><%=item.VALUES%></div>
							</a>
						</li>
						<% } %>
		</script>
		
        <script id='record-template-2' type="text/template">		
			<% for(var i in record){ var item=record[i]; %>
			   <option value='<%=(item)%>'><%=(item)%></option>
			<% } %>
		</script>
			<input type="hidden" id="mid" value="" />

		</div>

		<script type="text/javascript" charset="utf-8">
			window.addEventListener('refresh', function(e){//执行刷新
				 getCheckitem();
			});
			 window.addEventListener('changeFlot', function(e){
        　    //获取参数值
				var flot = e.detail.flot;
				if(flot){
					document.getElementById('selectId').value = flot
					getCheckitem();
				}
			});
			window.addEventListener("changeBar", function(e) {
				console.log(e.detail.barcode)
				 mui.openWindow({
					id: 'IQC_flot',
					url: 'IQC_flot.html',
					extras: {
				    urlId: "/iqcFree/getFlotNo",
					barcode:e.detail.barcode
				},
					waiting: { // 控制 弹出转圈框的信息
						autoShow: true, //自动显示等待框，默认为true 
						title: '加载中' //等待对话框上显示的提示内容 
					}
				}); 
			});
			mui.init();
			mui.plusReady(function() {
				//20191111-fyx-打开新的页面选择批次号
				getFlotNo();
				//getItem()
				getProject();
				//20191212-fyx-实际批次
				selectRealFlotNo();
				document.getElementById('cameraId').addEventListener('tap', function(event) {
					var mid = document.getElementById('mid').value;
					if (mid == '' || mid == 'undefined') {
						mui.toast('请先填写选择检验项目')
						return;
					}
					mui.openWindow({
						id: 'IQC_Rerular_pictrue_add',
						url: 'IQC_Rerular_pictrue_add.html?mid=' + mid,
						waiting: { // 控制 弹出转圈框的信息
							autoShow: true, //自动显示等待框，默认为true 
							title: '加载中' //等待对话框上显示的提示内容 
						}
					});

				});		
				
				/* mui("#collapseId").on('tap','#switchId',function(){
					var itemid = this.getAttribute("data-id");
					 var va = '不合格'; //不合格
					 if (this.className.indexOf('mui-active') != -1) {
					 	va = '合格'; //合格
					 }
					saveValues(itemid,va)
				}) ; */
				
				//监听addCloseTap
				addCloseTap();
				
				mui("#submitBtn").on("tap", "a", function(event) {
					var code = this.getAttribute('data-code');
					doSubmit(code);
				}) 
				mui("#delBtn").on("tap", "a", function(event) {
					var elem = this;
					var btnArray = ['确认', '取消'];
					mui.confirm('确认删除该条记录？', '系统提示', btnArray, function(e) {
						if (e.index == 0) {
							var code = elem.getAttribute('data-code');
							doSubmit(code);
						} 
					});
					
				})

			})
			//保存合格或者不合格信息
			function saveValues(itemid,va){
				aj.post("/iqcRegular/saveCheckResult", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							username:api_localStorageGet("code"),
							pi_itemid:itemid,
							pi_values:va,
							pi_valdate:''
						}, function (data) {
					if (data.result) {
						//getCheckitem()
					} else {
						plus.ui.toast(data.msg);
					}
				});
			}
			//
			function getFlotNo(){
				document.getElementById('selectId').addEventListener('tap', function(event) {
					mui.openWindow({
						id: 'IQC_flot',
						url: 'IQC_flot.html',
						extras: {
                        urlId: "/iqcRegular/getFlotNo",
						barcode:''
                    },
						waiting: { // 控制 弹出转圈框的信息
							autoShow: true, //自动显示等待框，默认为true 
							title: '加载中' //等待对话框上显示的提示内容 
						}
					});
				
				});
			}
			//获取检验项目
			function getItem(){
				//下拉列表改变事件
				var id = document.getElementById("selectId");
				id.addEventListener('change',function(){
				getCheckitem();
			});//单一添加下拉改变事件
			id.onmousedown = function(){//当按下鼠标按钮的时候
				this.sindex = this.selectedIndex;//把当前选中的值得索引赋给下拉选中的索引
				this.selectedIndex = -1;//把下拉选中的索引改变为-1,也就是没有!
			}
			id.onmouseout = function(){//当鼠标移开的时候
				var index = id.selectedIndex;//获取下拉选中的索引
				if(index == -1){//如果为-1,就是根本没有选
					this.selectedIndex = this.sindex;//就把下拉选中的索引改变成之前选中的值得索引,就默认选择的是之前选中的值
				}
				}
			}
			function getProject(){
				//下拉列表改变事件
				var id = document.getElementById("projectId");
				id.addEventListener('change',function(){
				getCheckResult();
			});//单一添加下拉改变事件
			id.onmousedown = function(){//当按下鼠标按钮的时候
				this.sindex = this.selectedIndex;//把当前选中的值得索引赋给下拉选中的索引
				this.selectedIndex = -1;//把下拉选中的索引改变为-1,也就是没有!
			}
			id.onmouseout = function(){//当鼠标移开的时候
				var index = id.selectedIndex;//获取下拉选中的索引
				if(index == -1){//如果为-1,就是根本没有选
					this.selectedIndex = this.sindex;//就把下拉选中的索引改变成之前选中的值得索引,就默认选择的是之前选中的值
				}
				}
			}
			function getCheckitem() {
				var value = document.getElementById('selectId').value; // 选中值
				if(value == ''){
					plus.ui.toast('请选择批次号');
					clearUi()
					return false;
				}
				//var url = API.webPath + '/iqcRegular/getCheckitem?factory='+api_localStorageGet("factory")+'&company='+api_localStorageGet("company")+'&flot_no=' + value
				aj.post("/iqcRegular/getCheckitem", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							flot_no:value
						}, function (data) {
					if (data.result) {
						document.getElementById('projectId').innerHTML = template('project-template', {
							"record": data.data
						});
						getRealFlotNo(value)
					} else {
						plus.ui.toast(data.msg);
					}
				});

			}
			//获取实际批次号
			function getRealFlotNo(flotNo){
				//var flotId = document.getElementById('mid').value;
				aj.post("/iqcRegular/getRealFlotNo", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							flotId:flotNo
						}, function (data) {
					if (data.result) {
						var html = ''
						document.getElementById('realSelectId').innerHTML = html+template('record-template-2', {
							"record": data.data
						});
					} else {
						plus.ui.toast(data.msg);
					}
				});
			}
			function getCheckResult(){

				var value = document.getElementById('selectId').value; // 选中值
				if(value == ''){
					plus.ui.toast('请选择批次号');
					clearUi()
					return false;
				}
				
				var obj1 = document.getElementById('projectId'); //定位id
				var index1 = obj1.selectedIndex; // 选中索引
				var value1 = obj1.options[index1].value; // 选中值
				if(value1 == ''){
					plus.ui.toast('请选择检验项目');
					clearUi()
					return false;
				}
				aj.post("/iqcRegular/getCheckResult", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							flot_no:value,
							username:api_localStorageGet("code"),
							fname:value1
						}, function (data) {
					if (data.result) {
						//console.log(JSON.stringify(data.data.S))
						//console.log(a)
						document.getElementById('mid').value =data.data.S[0].id;
						document.getElementById('collapseId').innerHTML = template('form-template', {
							"record": data.data.S
						});
						document.getElementById('pname').value = data.data.S[0].item_name
						document.getElementById('ptype').value = data.data.S[0].item_model
						document.getElementById('pxilie').value = data.data.S[0].item_serial
						
						document.getElementById('plower').value = data.data.S[0].flower
						document.getElementById('pupper').value = data.data.S[0].fupper
						//console.log(data.data.S[0].fcus_no)
						document.getElementById('cuo').value = data.data.S[0].fcus_no
						//console.log(JSON.stringify(data.data.SS))
						
						/* document.getElementById('list').innerHTML = template('ui-template', {
							"record": data.data.SS
						}); */
						initDate();
						console.log(data.msg.length)
						if (data.msg.length != 0) {
							mui.alert(data.msg, '警告', function() {
								document.getElementById('list').innerHTML = template('ui-template', {
									"record": data.data.SS
								});
							});
						}else{
							document.getElementById('list').innerHTML = template('ui-template', {
								"record": data.data.SS
							});
						}
					} else {
						plus.ui.toast(data.msg);
					}
				});
			}
			function selectRealFlotNo(){
				var id = document.getElementById("realSelectId");
				id.addEventListener('change',function(){
					doRealFlotNo();
				});
			}
			function doRealFlotNo() {
				var obj = document.getElementById('realSelectId'); //定位id
				var index = obj.selectedIndex; // 选中索引
				var value = obj.options[index].value; // 选中值
				var flotId = document.getElementById('mid').value;
				aj.post("/iqcRegular/doRealFlotNo", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							username:api_localStorageGet("code"),
							flotId:flotId,
							realFlotNo:value
						}, function (data) {
					if (data.result) {
						//getCheckitem()
					} else {
						plus.ui.toast(data.msg);
					}
				});
			}
			//清空数据
			function clearUi(){
				document.getElementById('mid').value = '';
			}
			//日期
			function initDate(){
				mui('.mui-switch')['switch'](); //手动初始化
				
				var btn = document.querySelector('#date');
				//20191109-sxw-去掉检验日期
				//var result = document.querySelector('#result');
				var dtPicker = new mui.DtPicker({
					type:'date'
				}); 
				//输入法软键盘的搜索
				document.getElementById("values").addEventListener("keydown", function(e) {
					if (13 == e.keyCode) { //点击了“搜索”   
						//$("#values").focus();获取焦点 
						document.activeElement.blur(); //隐藏软键盘  
						addItem(0,-1); //这里可以写搜索会触发的逻辑，具体内容根据项目需求
					}
				}, false);
				//20191224-fyx
				document.getElementById("premark").addEventListener("keydown", function(e) {
					if (13 == e.keyCode) { //点击了“搜索”   
						//$("#values").focus();获取焦点 
						document.activeElement.blur(); //隐藏软键盘  
						doRegularitemField('FNOTE',document.getElementById('premark').value); //这里可以写搜索会触发的逻辑，具体内容根据项目需求
					}
				}, false);
				//20200331-fyx
				document.getElementById("punit").addEventListener("keydown", function(e) {
					if (13 == e.keyCode) { //点击了“搜索”   
						//$("#values").focus();获取焦点 
						document.activeElement.blur(); //隐藏软键盘  
						doRegularitemField('FCHECK_UNIT',document.getElementById('punit').value); //这里可以写搜索会触发的逻辑，具体内容根据项目需求
					}
				}, false);
				mui("#dealDiv").on("tap", ".noodles", function(event) {
					var deal='';
					//console.log(this.classList[1] != 'ncheck')
					var dealDiv=document.getElementById("dealDiv"); 
					var arr = dealDiv.getElementsByClassName("noodles");
					if(this.classList[1] != 'ncheck'){
						for(var i=0;i<arr.length;i++){
							if(arr[i] != this){
								arr[i].classList.remove('ncheck');
							}
						}
						this.classList.add('ncheck');
						deal = this.getAttribute('data-code');
					}else{
						 for(var i=0;i<arr.length;i++){
							arr[i].classList.remove('ncheck');
						} 
					}
					doRegularitemField('FFINAL_RESULT',deal);
				}) 
				//resultDiv
				mui("#resultDiv").on("tap", ".noodles", function(event) {
					var result='';var itemid = '';
					//console.log(this.classList[1] != 'ncheck')
					var resultDiv=document.getElementById("resultDiv"); 
					var arr = resultDiv.getElementsByClassName("noodles");
					if(this.classList[1] != 'ncheck'){
						for(var i=0;i<arr.length;i++){
							if(arr[i] != this){
								arr[i].classList.remove('ncheck');
							}
						}
						this.classList.add('ncheck');
						result = this.getAttribute('data-code');
						itemid = this.getAttribute('data-id');
					}else{
						 for(var i=0;i<arr.length;i++){
							arr[i].classList.remove('ncheck');
						} 
					}
					saveValues(itemid,result)
				}) 
				
				document.getElementById('sureBtn').addEventListener('tap', function(event) {
					addItem(0,-1);	
				});	
				
			}
			//20191223-fyx-根据id和字段名保存信息
			function doRegularitemField(fielname,fielval){
				var mid = document.getElementById('mid').value;
				if (mid == '' || mid == 'undefined') {
					mui.toast('请先填写选择批次号')
					return;
				}
				aj.post("/iqcRegular/doRegularitemField", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							username:api_localStorageGet("code"),
							pid:mid,
							fielname:fielname,
							fielval:fielval
						}, function (data) {
							if (data.result) {
								plus.ui.toast('操作成功');
							} else {
								if(fielname == 'FFINAL_RESULT'){
									var dealDiv=document.getElementById("dealDiv"); 
									var arr = dealDiv.getElementsByClassName("noodles");
									for(var i=0;i<arr.length;i++){
										arr[i].classList.remove('ncheck');
									} 
								}
								plus.ui.toast(data.msg);
							}
				});
			}
			function doSubmit(opertype){
				var mid = document.getElementById('mid').value;
				if (mid == '' || mid == 'undefined') {
					mui.toast('请先填写选择批次号')
					return;
				}
				aj.post("/iqcRegular/doSumbit", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							username:api_localStorageGet("code"),
							pid:mid,
							opertype:opertype
						}, function (data) {
							if (data.result) {
								if(opertype == '3'){
									clear()
								}
								plus.ui.toast('操作成功');
							} else {
								plus.ui.toast(data.msg);
							}
				});
			}
			function clear(){
				clearUi()
				
				document.getElementById('selectId').value = ''
				document.getElementById('realSelectId').innerHTML = template('record-template-2', {
					"record": []
				});
				
				document.getElementById('projectId').innerHTML = template('project-template', {
					"record": []
				});
				
				document.getElementById('pname').value = ''
				document.getElementById('ptype').value = ''
				document.getElementById('pxilie').value = ''
				
				document.getElementById('plower').value = ''
				document.getElementById('pupper').value = ''
				//console.log(data.data.S[0].fcus_no)
				document.getElementById('cuo').value = ''
				
				var dealDiv=document.getElementById("dealDiv"); 
				var arr = dealDiv.getElementsByClassName("noodles");
				for(var i=0;i<arr.length;i++){
					arr[i].classList.remove('ncheck');
				} 
				
			}
			var delLi ;
			function addCloseTap(){
				//点击X事件
				var btnArray = ['确认', '取消']; 
				mui("#list").on("tap", ".close", function(event) {
					var id = this.getAttribute('id');
					var elem = this;
					var li = elem.parentNode.parentNode;
					mui.confirm('确定删除此条记录？', '提示', btnArray, function(e) {
						if (e.index == 0) {
							//li.parentNode.removeChild(li);
							if (id) {
								delLi = li;
								//alert('执行后台方法');
								addItem(2, id)
							}
						} else {
							setTimeout(function() {
								$.swipeoutClose(li);
							}, 0);
						}
					});
				})
			}
			function addItem(type, id1){
				aj.post("/iqcRegular/addCheckResult", {
							factory: api_localStorageGet("factory"),
							company: api_localStorageGet("company"),
							username:api_localStorageGet("code"),
							pi_itemid:document.getElementById("pi_id").value,
							pi_values:document.getElementById("values").value,
							pi_type:type,
							pi_valid:id1
						}, function (data) {
					if (data.result) {
						if(type == 0){
							var html = document.getElementById("list").innerHTML;
							document.getElementById('list').innerHTML = html+template('ui-template', {
								"record": data.data.RES
							});
						}
						if(type == 2){
							delLi.parentNode.removeChild(delLi);
						}
						console.log(JSON.stringify(data.data))
						changNode('resultDiv',data.data.RESULT);
						changNode('dealDiv',data.data.FFINAL_RESULT);
					} else {
						plus.ui.toast(data.msg);
					}
					document.getElementById("values").value='';
					document.getElementById("values").focus();//获取焦点
				});
			}
			function changNode(div,result){
				var dealDiv=document.getElementById(div); 
				var arr = dealDiv.getElementsByClassName("noodles");
				for(var i=0;i<arr.length;i++){
					arr[i].classList.remove('ncheck');
					if(arr[i].innerText == result){
						arr[i].classList.add('ncheck');
					}
				}
			}
			function clicked(url, f1, f2) {
				mui.openWindow({
					id: f1,
					url: url,
					extras: {
						//自定义扩展参数，可以用来处理页面间传值 
					},
					show: { //控制打开页面的类型
						autoShow: true,
						//页面loaded事件发生后自动显示，默认为true 
						aniShow: 'slide-in-right', //页面显示动画，默认为”slide-in-right“；  页面出现的方式 左右上下
						duration: '100' //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒； 
					},
					waiting: { // 控制 弹出转圈框的信息
						autoShow: true, //自动显示等待框，默认为true 
						title: '加载中' //等待对话框上显示的提示内容 
					}
				});
			}
			function clicked(url, f1, f2) {
				mui.openWindow({
					id: f1,
					url: url,
					extras: {
						urlId:'web/IQC_regular.html'
						//自定义扩展参数，可以用来处理页面间传值 
					},
					show: { //控制打开页面的类型
						autoShow: true,
						//页面loaded事件发生后自动显示，默认为true 
						aniShow: 'slide-in-right', //页面显示动画，默认为”slide-in-right“；  页面出现的方式 左右上下
						duration: '100' //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒； 
					},
					waiting: { // 控制 弹出转圈框的信息
						autoShow: true, //自动显示等待框，默认为true 
						title: '加载中' //等待对话框上显示的提示内容 
					}
				});
			};
		</script>
	</body>
</html>
