<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../js/mui.min.js"></script>
		<script src="../js/api.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/template-web.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<style type="text/css">
			.mui-content {
				margin-top: 2px;
			}

		</style>
	</head>
	<body class="mui-fullscreen">
		<header class="mui-bar mui-bar-nav" id="header">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>
			</button>
			<h1 class="mui-title">IQC定期查询</h1>
		</header>
		<div class="mui-content" id="contentId">
			<div class="mui-input-row mui-search" >
				<input id='searchId' type="search" class="mui-input-clear" placeholder="输入关键字查询">
			</div>
			<div class="mui-content-padded" style="margin-top: 0px;">
				<div id="tab1" class="mui-control-content mui-active">
					<!--下拉刷新容器-->
					<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					  <div class="mui-scroll">
						<!--数据列表-->
						<div id="cardId"></div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<script id='tab-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
			   <%if(i==0){%>
			   <a class="mui-control-item mui-active" data-href="<%=item%>">
			   	<%=item%>
			   </a>
			   <%}else{%>
			     <a class="mui-control-item" data-href="<%=item%>">
			     	<%=item%>
			     </a>
			   <%}%>
			 <% } %>
		</script>
		<script id='card-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>		  
			   <div class="mui-card " >
			    <div class="mui-slider-handle">
			   	<div class="mui-card-header">		
			   		来料批次:<%=(item.flot_no)%>
			   		<span class="mui-media-object mui-pull-left" style="border-radius: 0%;        display: inline-block;    background: #<%=(item.COLOR)%>;      vertical-align: top;">  
			   		     <span style="display: block;      height: 20px;        text-align: center"><%=(item.FSTATENAME)%></span>  
			   		</span>
			   		
			   	</div>
			   	<div class="mui-card-content">
			   		<div class="mui-input-group">
						<div class="mui-input-row" >
							<label ><span class="mui-icon iconfont icon-jianyanxiangmu" style="color:#5CACEE"></span>检验项目：</label>
							<input type="text" class="mui-input-clear" value="<%=(item.fname)%>" disabled="disabled"> 
						</div>
			   		    <div class="mui-input-row">
			   				<label><span class="mui-icon iconfont icon-wuliao" style="color:#5CACEE"></span>物料名称：</label>
			   				<input type="text" class="mui-input-clear" value="<%=(item.item_name)%>" disabled="disabled"> 
			   			</div>
			   			<div class="mui-input-row" id="dealDiv">
			   				<label><span class="mui-icon iconfont icon-guige" style="color:#5CACEE"></span>规格型号：</label>
			   					<input type="text" class="mui-input-clear" value="<%=(item.item_model)%>" disabled="disabled"> 
			   			</div>
			   			<div class="mui-input-row" >
			   				<label ><span class="mui-icon iconfont icon-xilie" style="color:#5CACEE"></span>系列：</label>
			   				<input type="text" class="mui-input-clear" value="<%=(item.item_serial)%>" disabled="disabled"> 
			   			</div>
						<div class="mui-input-row" >
							<label ><span class="mui-icon iconfont icon-xiangqing"" style="color:#5CACEE"></span>客户编号：</label>
							<input type="text" class="mui-input-clear" value="<%=(item.fcus_no)%>" disabled="disabled"> 
						</div>
			   			
			   		</div>
			   	</div>
			   	<!--页脚，放置补充信息或支持的操作-->
			   	<div class="mui-card-footer"   >
			   		<a class="mui-card-link">检验日期:<%=(item.ftest_date)%></a>
			   	</div>
			   </div>
			   </div>
			<% } %>
		</script>

		<script type="text/javascript" charset="utf-8">
			/* mui.init({
	                    beforeback: function() {　　　　
	                        var list = plus.webview.currentWebview().opener();　　　　
	                        mui.fire(list, 'refresh');//refresh是A页面自定义事件
	                        return true; //返回true,继续页面关闭逻辑
	                    }
	                }); */
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {//下拉刷新
						auto:true,//可选,默认false.自动下拉刷新一次
						contentdown : "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
						contentover : "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
						contentrefresh : "正在刷新...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
						callback: pulldownRefresh
					}, 
					up: {//上拉加载
						//auto:true,//可选,默认false.自动上拉加载一次
						contentrefresh: '正在加载...',
						contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
						callback: pullupRefresh
					}
				}
			});
			mui.plusReady(function() {
				//addTabTap();
				toList(1,2);
				//输入法软键盘的搜索
				document.getElementById("searchId").addEventListener("keydown", function(e) {
					if (13 == e.keyCode) { //点击了“搜索”   
						//$("#values").focus();获取焦点 
						document.activeElement.blur(); //隐藏软键盘  
						count=1;//第一页
						toList(1,2); //这里可以写搜索会触发的逻辑，具体内容根据项目需求
					}
				}, false);
			})
			var count = 1;
			function pulldownRefresh(){
				  count=1;//第一页
				  type=1;//代表下拉刷新
				  toList(count,type);//具体取数据的方法
			}
			function pullupRefresh(){
				//setTimeout(function() {
				count++;//翻下一页
				type=2;//代表上拉加载
				toList(count,type);//具体取数据的方法
			//}, 100);
			}
			function toList(page,type){
				
				aj.post("/iqcRegular/getList", {
					factory: api_localStorageGet("factory"),
					company: api_localStorageGet("company"),
							page: page,
							keyword: document.getElementById("searchId").value
						}, function (data) {
							//console.log(JSON.stringify(data.data))
					if (data.result) {
						if(type==2){//下拉加载
							if(data.data.length > 0){
								var html = '';
								if(page != 1){
									html = document.getElementById("cardId").innerHTML;
								}
								document.getElementById('cardId').innerHTML = html+template('card-template', {
									"record": data.data
								});
								
							}
							mui('#pullrefresh').pullRefresh().endPulldownToRefresh();//结束下拉刷新
							 /*结束上拉加载，并根据情况切换“下拉显示更多数据”，以及“没有更多数据了”。执行endPullupToRefresh()方法，结束转雪花进度条的“正在加载...”过程,若还有更多数据，则传入false; 否则传入true，之后滚动条滚动到底时*/
							 if(data.data.length > 0){
								 mui('#pullrefresh').pullRefresh().endPullupToRefresh(false);
							 } else {
								 mui('#pullrefresh').pullRefresh().endPullupToRefresh(true);
							 }
						}
						if(type==1){//上拉刷新
							  /*下面这句很关键！*/
							  mui('#pullrefresh').pullRefresh().refresh(true);//有重新触发上拉加载的需求（比如当前类别已无更多数据，但切换到另外一个类别后，应支持继续上拉加载）
							  //vm.companylist = data.company_list;
							  //plus.nativeUI.closeWaiting();//数据渲染完毕，关闭加载框
							  mui.currentWebview.show(); //显示当前页面
							  var html = '';
							  //console.log(page != 1)
							  if(page != 1){
								  html = document.getElementById("cardId").innerHTML;
							  }
								 document.getElementById('cardId').innerHTML = html+template('card-template', {
									"record":data.data
								 });
						 }
					} else {
						plus.ui.toast(data.msg);
					}
				});
			}
		</script>
	</body>
</html>
